*{
 font-family: 'Roboto', sans-serif;	

}
#backHome{
	position: absolute;
	top:30;
	left: 30;
	vertical-align: middle;
	color:white;
	text-decoration: none;
	font-size: 22px;      
}
#backHome:hover{
	text-decoration: underline;
}
/*#header:before{
	content:  url("Team Stadium/Burnley.jpg");
	z-index: -1;
	display: block;
	width:100%;

	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	opacity:0.7;
}*/

#header{
	color: white;
    text-align: center;
	background: linear-gradient(
                     rgba(0,0,0, 0), 
                     rgba(0,0,0, .6)),
				url("Team Stadium/swansea.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
	left: 0;
	top: 0;
	border-bottom:2px solid  rgb(0, 0, 0);
	margin-bottom: 30px;
}
h1{
	font-size: 40px;
	margin: 0;
	padding: 5px 0;
}

td{

	padding: 5;
	font-family: sans-serif;
	margin: 0;
}
body{
	
	margin:0;
}
#statSpan{
	float: left;
}
#nextMatches{
	margin: 0 30px;
	display: inline-block;
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.8);
	border-left: 2px solid rgb(0, 0, 0);
	border-right: 2px solid rgb(0, 0, 0);

}
#nextMatches td{
	border-bottom: 2px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
}
#teamStats{
	display: inline-block;
	vertical-align: top;
}
#teamStats td{
	background-color: rgb(0, 0, 0);
	font-size: 18px;
	text-align:center; 
	width:30%;
	padding: 10% 0;
	line-height:30px;
	color: white;
}
#plTable tr{
	margin: 0;
	
}
#plTable td{
	border:2px solid rgb(0, 0, 0);
	margin: 0;
	
}
#plTable{
	background:rgba(255,255,255,0.8);
    border-collapse: collapse;
	margin: 0 30px;
	display: inline-block;
		vertical-align: top;
}
h2{
	margin: 0;
	padding: 10px 30px;
	color: white;
}
#fixRes{
	text-align:center;
	color: white;
	background-color: rgb(0, 0, 0);
	font-size:18px;
}
#playersTitle{
	background-color: rgb(0, 0, 0);
	text-align: center;
	color: white;
	font-size: 18px;
}
#statSpan{
	margin: 0 20px;
}
#statSpan img{
	width: 454;
	border:2px solid rgb(0, 0, 0);
	margin: 0;
}
#statSpan h3{
	padding: 2px;
	text-align: center;
	background-color:rgb(0, 0, 0);
	color: white;
	font-size: 18px;
	margin: 0;
	margin-top: 5px;
}